<div class="main-wrap-outer">
  <div class="header-wrap">
    <p class="txt-Business-Name">
      Booking<span>.com</span>
    </p>
  </div>
  <div class="navigate-wrap">
    <p class="tittle">Find deals on hotels, homes, and much more...</p>
    <p class="tittle2">From cozy country homes to funky city apartments</p>

    <div class="middle-wrap">
      <div class="row" style="margin: 0">
        <div class="col-12 col-md-4 inner-component-wrap">
          <div class="component"></div>
        </div>
        <div class="col-12 col-md-3 inner-component-wrap">
          <div class="component"></div>
        </div>
        <div class="col-12 col-md-4 inner-component-wrap">
          <div class="component"></div>
        </div>
        <div class="col-12 col-md-1 inner-component-wrap">
          <div class="component">
            <button class="search-button">Search</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
