<mat-progress-bar mode="indeterminate"></mat-progress-bar>

<div class="main-wrap container">
  <p class="header-text">Room Configuration</p>
  <hr>

  <div class="row" style="margin: 0">

    <div class="col-12 col-sm-6 col-md-4 col-lg-3">

      <div class="form-group">
        <label for="roomName">Room Name</label>
        <input [(ngModel)]="txtRoomName" type="text" class="form-control" id="roomName"
               aria-describedby="roomNameHelp" placeholder="Single">
      </div>

    </div>

    <div class="col-12 col-sm-6 col-md-4 col-lg-3">

      <div class="form-group">
        <label for="roomType">Room Type</label>
        <select [(ngModel)]="txtRoomType" class="form-control" id="roomType">
          <option *ngFor="let tempType of roomTypeArray" value="{{tempType}}">{{tempType}}</option>
        </select>
      </div>

    </div>

    <div class="col-12 col-sm-6 col-md-4 col-lg-3">

      <div class="form-group">
        <label for="sleeps">Sleeps</label>
        <input [(ngModel)]="txtRoomSleeps" type="number" class="form-control" id="sleeps"
               aria-describedby="sleepsHelp">
      </div>

    </div>

    <div class="col-12 col-sm-6 col-md-4 col-lg-3">

      <div class="form-group">
        <label for="cost">Cost (per day)</label>
        <input [(ngModel)]="txtRoomCost" type="number" class="form-control" id="cost"
               aria-describedby="costHelp">
      </div>

    </div>

    <div class="col-12 col-sm-6 col-md-4 col-lg-3">

      <div class="form-group">
        <label for="count">Room Count</label>
        <input [(ngModel)]="txtRoomCount" type="number" class="form-control" id="count"
               aria-describedby="countHelp">
      </div>

    </div>

    <div class="col-12 col-sm-6 col-md-4 col-lg-3">

      <div class="form-group">
        <label for="size">Room Size (ft <sup>2</sup> )</label>
        <input [(ngModel)]="txtRoomSize" type="number" class="form-control" id="size"
               aria-describedby="sizeHelp">
      </div>

    </div>

    <div class="col-12">
      <mat-checkbox [(ngModel)]="txtPetAllowed" class="example-margin">Pet Allowed</mat-checkbox>
    </div>

    <div class="col-12">
      <div class="form-group">
        <label for="descriptionId">Description</label>
        <textarea [(ngModel)]="txtDescription" class="form-control" id="descriptionId" rows="3"></textarea>
      </div>
    </div>

    <div class="col-12">

      <div class="form-group">
        <label for="facilities">Most popular facilities</label>
        <input maxlength="50" [(ngModel)]="selectedFacilities" (keyup.enter)="addToList()" type="text" class="form-control" id="facilities"
               aria-describedby="facilitiesHelp">
        <p *ngIf="selectedFacilitiesError" class="alert alert-danger" style="margin-top: 3px">
          this value is required!
        </p>
      </div>

    </div>

    <div class="col-12 facilities-List">

      <ul class="facilities">
        <li *ngFor="let tempFac of facilitiesList; index as num">
          <span>{{tempFac}} &nbsp;&nbsp; <i class="fas fa-times"
                                            style="cursor: pointer"
                                            (click)="removeFromList(num)"></i></span>
        </li>
      </ul>

    </div>

    <div class="col-12">

      <input multiple type="file" accept="image/*"
             id="selectedFile" style="display: none" (change)="changeFiles($event)">

      <button onclick="document.getElementById('selectedFile').click()" class="btn btn-dark btn-sm">Select Your Images</button>
      <br>
      <br>

      <div class="main-wrap-for-selected-images">

        <img *ngIf="urls[0]!=null" [src]="urls[0]" alt="Image"
             class="selected-image img-thumbnail">
        <img *ngIf="urls[1]!=null"  [src]="urls[1]" alt="Image"
             class="selected-image img-thumbnail">
        <img *ngIf="urls[2]!=null"  [src]="urls[2]" alt="Image"
             class="selected-image img-thumbnail">

      </div>

      <p style="text-align: right">
        <button mat-raised-button color="primary" (click)="uploadRoomData()">Upload Data</button><!--float : right-->
      </p>


    </div>



  </div>

</div>
