<div class="main-wrap container">
  <p class="header-text">Room Configuration</p>
  <hr>

  <div class="row" style="margin: 0">

    <div class="col-12 col-sm-6 col-md-4 col-lg-3">

      <div class="form-group">
        <label for="roomName">Room Name</label>
        <input type="text" class="form-control" id="roomName"
               aria-describedby="roomNameHelp" placeholder="Single">
      </div>

    </div>

    <div class="col-12 col-sm-6 col-md-4 col-lg-3">

      <div class="form-group">
        <label for="roomType">Room Type</label>
        <select class="form-control" id="roomType">
          <option *ngFor="let tempType of roomTypeArray" value="{{tempType}}">{{tempType}}</option>
        </select>
      </div>

    </div>

    <div class="col-12 col-sm-6 col-md-4 col-lg-3">

      <div class="form-group">
        <label for="sleeps">Sleeps</label>
        <input type="number" class="form-control" id="sleeps"
               aria-describedby="sleepsHelp">
      </div>

    </div>

    <div class="col-12 col-sm-6 col-md-4 col-lg-3">

      <div class="form-group">
        <label for="cost">Cost (per day)</label>
        <input type="number" class="form-control" id="cost"
               aria-describedby="costHelp">
      </div>

    </div>

    <div class="col-12 col-sm-6 col-md-4 col-lg-3">

      <div class="form-group">
        <label for="count">Room Count</label>
        <input type="number" class="form-control" id="count"
               aria-describedby="countHelp">
      </div>

    </div>

    <div class="col-12 col-sm-6 col-md-4 col-lg-3">

      <div class="form-group">
        <label for="size">Room Size (ft <sup>2</sup> )</label>
        <input type="number" class="form-control" id="size"
               aria-describedby="sizeHelp">
      </div>

    </div>

    <div class="col-12">

      <div class="form-group">
        <label for="facilities">Most popular facilities</label>
        <input maxlength="50" [(ngModel)]="selectedFacilities" (keyup.enter)="addToList()" type="text" class="form-control" id="facilities"
               aria-describedby="facilitiesHelp">
        <p *ngIf="selectedFacilitiesError" class="alert alert-danger" style="margin-top: 3px">
          this value is required!
        </p>
      </div>

    </div>

    <div class="col-12 facilities-List">

      <ul class="facilities">
        <li *ngFor="let tempFac of facilitiesList; index as num">
          <span>{{tempFac}} &nbsp;&nbsp; <i class="fas fa-times"
                                            style="cursor: pointer"
                                            (click)="removeFromList(num)"></i></span>
        </li>
      </ul>

    </div>

    <div class="col-12">

      <input multiple type="file" accept="image/*"
             id="selectedFile" style="display: none" (change)="changeFiles($event)">

      <button onclick="document.getElementById('selectedFile').click()" class="btn btn-dark btn-sm">Select Your Images</button>
      <br>
      <br>

      <div class="main-wrap-for-selected-images">

        <img src="https://cdn.decoist.com/wp-content/uploads/2020/02/Beautiful-small-white-living-room-blends-monochromatic-beauty-with-modernity-53868.jpg" alt=""
             class="selected-image img-thumbnail">
        <img src="https://hgtvhome.sndimg.com/content/dam/images/hgtv/fullset/2019/8/1/1/uo2019_living-room-01-wide-blinds-up-KB2A8968_h.jpg.rend.hgtvcom.966.644.suffix/1564684055231.jpeg" alt=""
             class="selected-image img-thumbnail">
        <img src="https://media.istockphoto.com/photos/bohemian-living-room-interior-3d-render-picture-id1182454657?k=6&m=1182454657&s=612x612&w=0&h=dRk1Cc_hNhVLhppNDh8XA6AXvUiknl5TwFvAOrJAuag=" alt=""
             class="selected-image img-thumbnail">

      </div>


    </div>



  </div>

</div>
